@media (max-width: 630px) {
  .container {
    padding: 5px; } }
.row + .row {
  margin-top: 45px; }

.noise {
  background-image: url("../img/noise.png"); }

.logo-header {
  padding-top: 10px; }

section {
  padding: 40px 0; }

.demo-white {
  -webkit-box-shadow: inset 0 10px 5px -8px #e1e1e1;
  -moz-box-shadow: inset 0 10px 5px -8px #e1e1e1;
  box-shadow: inset 0 10px 5px -8px #e1e1e1;
  background-color: white; }

.demo-dark {
  background-color: #262626;
  border-top: 10px solid #404040;
  color: #666666;
  padding: 50px 0;
  text-align: center; }
  .demo-dark p {
    margin-bottom: 10px; }
  .demo-dark a {
    color: gray; }
    .demo-dark a:hover {
      color: #3a84c5;
      text-decoration: none; }

.nicebox-body {
  padding: 30px 60px !important; }
  .nicebox-body label {
    margin-bottom: 10px; }
